extends layout

block content

	div.container-fluid

		div.selecciones(style='text-align:center; margin: 50px;')
			div.m-3
				a.btn.btn-primary(href='/auth/login', style='min-width:300px') Entrar
			div
				a.btn.btn-primary(href='auth/register', style='min-width:300px') Registrarse