extends layout

block content
	div.container-fluid
		div.banner
			img.img-banner(src='/img/banner.png')
		div.lista
			div.row
				div.col-sm-6.col-md-4
					div.carta
						//img(src='./img/product2.jpeg')
				div.col-sm-6.col-md-4
					div.carta
						//img(src='./img/product2.jpeg')
				div.col-sm-6.col-md-4
					div.carta
						//img(src='./img/product3.jpeg')
						
